<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.pollinations.pollenwall</string>
	<key>Program</key>
	<string>/Users/vallahiboyle/Desktop/software/pollenwall/target/debug/pollenwall</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/vallahiboyle/Desktop/software/pollenwall/target/debug/pollenwall</string>
		<string>-a</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>StandardOutPath</key>
	<string>/Users/vallahiboyle/.pollenwall/pollenwall_service.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/vallahiboyle/.pollenwall/pollenwall_service.log</string>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
</dict>
</plist>